NODE_ENV=production
# Replace with production URLs when deploying
NEXT_PUBLIC_API_URL=https://communityos-0d4d.onrender.com
NEXT_PUBLIC_SOCKET_URL=https://communityos-0d4d.onrender.com
NEXT_PUBLIC_MAPBOX_TOKEN=mock
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=mock
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=mock
NEXTAUTH_SECRET=your_secure_random_string
AUTH_SECRET=your_secure_random_string
NEXTAUTH_URL=https://community-os-web-seven.vercel.app
AUTH_TRUST_HOST=true
